<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add</title>
  </head>
  <style media="screen">
    body {
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      width: 500px;
      text-align: left;
      font-family: sans-serif;
    }
    h1 {
      color: green;
    }
    h3 {
      color: red;
    }
  </style>
  <body>

    {% if messages %}
      {% for message in messages %}
        <h3>{{ message }}</h3>
      {% endfor %}
    {% endif %}

    <form class="" action="/app2/make_trip" method="post">
      {% csrf_token %}
      <h1>Destination</h1>
      <input type="text" name="destination" value="">
      <h1>Travel Start</h1>
      <input type="date" name="travel_start" value="">
      <h1>Travel End</h1>
      <input type="date" name="travel_end" value="">
      <h1>Description</h1>
      <input type="text" name="description" value="">
      <input type="submit" name="submit" value="Add">
    </form>

    <form class="" action="/app2/travels" method="post">
      {% csrf_token %}
      <input type="submit" name="submit" value="Back to Dashboard">
    </form>

    <form class="" action="/app2/log_out" method="post">
      {% csrf_token %}
      <input type="submit" name="submit" value="Log out">
    </form>

  </body>
</html>
