<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Travels</title>
  </head>
  <style media="screen">
    body {
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      width: 500px;
      text-align: left;
      font-family: sans-serif;
    }
    h1 {
      color: green;
    }
    table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    }
    tr:nth-child(even) {
    background-color: #dddddd;
    }
  </style>
  <body>

    <h1>Travels</h1>

    <!-- GREETING -->
    {% if request.session.logged_in_user_username %}
      {% for i in user_information %}
        <h3>Welcome {{ i.name }}!</h3>
      {% endfor %}
    {%  endif %}

    {% if request.session.registered_user_username %}
      {% for i in user_information %}
        <h3>Welcome {{ i.name }}!</h3>
      {% endfor %}
    {%  endif %}

    <!-- TRIP SCHEDULES -->
    {% if request.session.logged_in_user_username %}
      {% if all_user_trips %}
      <h2 style="color : blue">Your trips are:</h2>
      <table>
        <tr>
          <th>Destination</th>
          <th>Travel Start Date</th>
          <th>Travel End Date</th>
          <th>Plan</th>
        </tr>
        {% for i in all_user_trips %}
        <tr>
          <td><a href="/app2/display_trip/{{ i.trip_id.destination }}">{{ i.trip_id.destination }}</a></td>
          <td>{{ i.trip_id.travel_start }}</td>
          <td>{{ i.trip_id.travel_end }}</td>
          <td>{{ i.trip_id.description }}</td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
    {% endif %}

    {% if request.session.registered_user_username %}
      {% if all_user_trips %}
      <h2 style="color : blue">Your trips are:</h2>
      <table>
      <tr>
        <th>Destination</th>
        <th>Travel Start Date</th>
        <th>Travel End Date</th>
        <th>Plan</th>
      </tr>
      {% for i in all_user_trips %}
      <tr>
        <td><a href="/app2/display_trip/{{ i.trip_id.destination }}">{{ i.trip_id.destination }}</a></td>
        <td>{{ i.trip_id.travel_start }}</td>
        <td>{{ i.trip_id.travel_end }}</td>
        <td>{{ i.trip_id.description }}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  {% endif %}

    <!-- ALL TRIPS -->
    {% if all_trips_minus_what_users_are_part_of %}
    <h2>Here are trips you can join:</h2>
    <table>
      <tr>
        <th>Organizer</th>
        <th>Destination</th>
        <th>Travel Start Date</th>
        <th>Travel End Date</th>
        <th>Do you want to join?</th>
      </tr>
      {% for i in all_trips_minus_what_users_are_part_of %}
      <tr>
        <td>{{ i.created_by }}</td>
        <td><a href="/app2/display_trip/{{ i.destination }}">{{ i.destination }}</a></td>
        <td>{{ i.travel_start }}</td>
        <td>{{ i.travel_end }}</td>
        <td><a href="/app2/join_trip/{{ i.destination }}">Join</a></td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

    <a href='/app2/add'>Add Travel Plan</a>

    <form class="" action="/app2/log_out" method="post">
      {% csrf_token %}
      <input type="submit" name="submit" value="Log out">
    </form>

  </body>
</html>
